
//About
#about {
    background-color: white;
    padding: $pd;
    
    img{
        width: 80%;
    }

    h3 {
        font-size: 3vw;
    }

    p {
        font-size: 1.5vw;
        text-align: justify;
    }


}