
// CONTACT 
#contact {
    border-top: 1px solid rgba(0, 0, 0, 0.136);
    padding: $pd;

    h2{
        color: $hotOrange;
    }
    
    input, textarea{
        border: 2px solid $hotOrange;
        border-radius: 0;
        padding: 10px;
        font-weight: 500;
        color: $mediumGray;
    }

    input:focus, textarea:focus {
        outline: none !important;
        box-shadow: none;
    }
}


// ASIDE SOCIAL MEDIA CSS
// .hide {
//     display: none;
// }

// .media-container {
//     overflow: auto;
//     border-color: transparent;
// }

// .selector {
//     position: absolute;
//     font-size: 20px;
//     color: #fba92c;
//     display: block;
//     top: 7%;
//     margin-right: 20px;

// }

.social-media {
    margin: 0 10px;
    font-size: 50px;
    color: black;
    transition: all 0.2s;
}

.social-media:hover {
    color: $hotOrange
}

#medias-aside {
    position: fixed;
    top: 50%;
    left: -55px;
    transform: translate(0, -50%);
    transition: 300ms;

    .content {
        background-color: #484848;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 0 0 0.5rem black;

        a {
            display: block;
        }
    }

    
}

#medias-aside:hover{
    
     left: 0;
    
}
