// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    $trans: all 0.2s;

    //TOPNAV START
    .topnav-anim {
        .navbar-nav {
            background: white;
            transition: $trans;
            margin-top: -8px;
            padding-top: 20px;
        }
    }

    .navbar-nav {
        background: linear-gradient(to bottom, transparent, #484848 5%);

        .nav-link {
            position: relative;
            left: 0;
        }

        .nav-link:hover {
            transition: $trans;
            left: 10px;
        }
    }

    .topnav .navbar-brand {
        margin: 0 auto;
        font-size: 1em;
    }

    //ABOUT START
    #about {
        h3 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
        }
    }


}


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {

    //TOP NAVIGATION START 
    nav.topnav {
        height: 100px;

        .navbar-nav{
            margin-top: 10px;
        }
    }

    nav.topnav-anim{
        height: 120px;

        .navbar-nav{
            margin-top: 10px;
        }
    }

    nav.topnav .container{
        flex-direction: column;
    }

    //TOP NAVIGATION END


    #projects .wrapper .group div.item {
        flex: 0 0 300px;
    }

    #projects .wrapper {
        width: 130%;
    }

    #projects .group div.item,
    #skills .group div.item{
        height: auto;
    }
}