//PALETTE
// Black: #000000

// Medium Gray: #565656

// Light Gray: #9e9e9e

// Hot Orange: #fba92c

// White: #FFFFFF


$pd: 50px;
$nav-bckgnd: transparent;
$blur: 2px;
$bckgndUrl: url('../imgs/background.jpg');
$trans: all 0.5s;
$tpnc: white;
$gap: 30px;
$hotOrange: #fba92c;
$mediumGray: #565656;
$lightGray: #9e9e9e;