@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #484848;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.filter-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

* {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  text-decoration: none;
}

body {
  font-size: 16px;
}

ul {
  list-style-type: none;
}

nav.topnav-anim {
  background-color: white;
  height: 100px;
  transition: all 0.5s;
  border-bottom: 1px solid #484848;
}
nav.topnav-anim .navbar-brand,
nav.topnav-anim .navbar-toggler i,
nav.topnav-anim .navbar-toggler,
nav.topnav-anim .navbar-nav .nav-link {
  color: #484848;
}

.topnav {
  background-color: transparent;
  height: 80px;
  transition: all 0.5s;
}
.topnav .navbar-toggler,
.topnav .navbar-toggler i {
  color: white;
}
.topnav .navbar-brand {
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: white;
}
.topnav .navbar-nav .nav-link {
  color: white;
  transition: 0.2s color;
  font-weight: bold;
  letter-spacing: 1px;
}
.topnav .navbar-nav {
  font-size: 1.1rem;
  padding: 10px 10px;
  transition: all 0.5s;
}
.topnav .navbar-nav .nav-link:hover {
  color: #fba92c;
}

#home {
  height: 100vh;
}
#home h1 {
  color: white;
  font-weight: bolder;
  text-shadow: #484848;
}
#home h1::after {
  content: "";
  position: relative;
  display: block;
  height: 5px;
  background-color: orange;
  animation-name: title-anim;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 5s;
}
#home h2 {
  color: white;
  font-weight: bold;
  letter-spacing: 1.1px;
}
#home .btn {
  transition: all 0.3s;
  background-color: black;
  box-shadow: 0 0 0.5rem black;
  font-weight: 500;
  color: white;
}
#home .btn:hover {
  background-color: #fba92c;
  border: 1px solid #fba92c;
  box-shadow: 0 0 0.8rem #fba92c;
  transform: scale(1.1, 1.1);
}

#home:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background: url("../imgs/background.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

#about {
  background-color: white;
  padding: 50px;
}
#about img {
  width: 80%;
}
#about h3 {
  font-size: 3vw;
}
#about p {
  font-size: 1.5vw;
}
#about #curriculoBtn {
  background-color: #fba92c;
  border: 1px solid #fba92c;
}
#about #curriculoBtn:hover {
  background-color: #484848;
  border: 1px solid #484848;
}

#projects {
  border-top: 1px solid rgba(0, 0, 0, 0.136);
  padding: 50px;
}
#projects .group {
  display: flex;
  justify-content: space-around;
  align-items: none;
  flex-flow: row wrap;
  gap: 30px;
}
#projects .group div.item {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}
#projects .group div.item img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#projects .group div.item .content {
  padding: 20px;
}
#projects .group div.item .content a {
  color: black;
  font-size: 2rem;
  transition: color 0.2s;
}
#projects .group div.item .content a:hover {
  color: #9e9e9e;
}
#projects .group div.item:hover {
  box-shadow: 0 0 1.5rem 0.2rem #fba92c;
  transform: scale(1.05, 1.05);
}

#skills {
  border-top: 1px solid rgba(0, 0, 0, 0.136);
  padding: 50px;
}
#skills h2 {
  color: #fba92c;
  font-weight: bold;
}
#skills .group {
  display: flex;
  justify-content: center;
  align-items: none;
  flex-flow: row wrap;
  row-gap: 20px;
}
#skills .group .item {
  flex-basis: 20%;
  flex-grow: 1;
  transition: transform 0.2s;
}
#skills .group .item img {
  display: block;
  margin: auto;
  width: 100px;
}
#skills .group .item:hover {
  transform: scale(1.05, 1.05);
}

#contact {
  border-top: 1px solid rgba(0, 0, 0, 0.136);
  padding: 50px;
}

footer {
  background-color: #484848;
  box-shadow: inset 0 0 0.2rem black;
  padding: 20px 0;
}
footer p {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
}
footer a {
  margin: 0 10px;
  font-size: 50px;
  display: inline-block;
  color: black;
  transition: color 0.2s;
}
footer a:hover {
  color: #fba92c;
  transform: scale(1.1, 1.1);
}

@keyframes title-anim {
  from {
    left: 0;
    width: 5%;
  }
  to {
    left: 40%;
    width: 25%;
  }
}
@media (max-width: 768px) {
  .topnav-anim .navbar-nav {
    background: white;
    transition: all 0.2s;
    margin-top: -30px;
    padding-top: 20px;
  }

  .navbar-nav {
    background: linear-gradient(to bottom, transparent, #484848 5%);
  }
  .navbar-nav .nav-link {
    position: relative;
    left: 0;
  }
  .navbar-nav .nav-link:hover {
    transition: all 0.2s;
    left: 10px;
  }

  .topnav .navbar-brand {
    margin: 0 auto;
  }

  #about h3 {
    font-size: 2em;
  }
  #about p {
    font-size: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
